<section class="portfolio">
  <div class="continer mt-5 d-flex flex-column justify-content-center  vh-100 align-items-center">
   <h2 class="d-block fs-1 my-2 fw-bold">CONTACT SECTION</h2>
   <div class="linestar d-flex justify-content-center align-items-center mb-4">
     <div class="line me-3" style="background-color: #2c3e50;"></div>
     <i class="fa-solid fa-star"></i>
     <div class="line ms-3" style="background-color: #2c3e50;"></div>
   </div>
   <div class="w-75">
   <input id="userName" type="text" placeholder="userName" name="userName" class="form-control border-0 border-bottom py-3 my-2">
   <input id="userAge" type="text" placeholder="userAge" name="userAge" class="form-control border-0 border-bottom py-3 my-2">
   <input id="userEmail" type="text" placeholder="userEmail" name="userEmail" class="form-control border-0 border-bottom py-3 my-2">
   <input id="userPassword" type="text" placeholder="userPassword" name="userPassword" class="form-control border-0 border-bottom py-3 my-2">
   <div class="btn me-auto my-3">send Message</div>
   </div>
  </div>
</section>
